sdk.dir= #/home/user/Android/Sdk
# ANDROBEAT Configuration
DEBUG_EXTRACTORS= #false
DEBUG_RETROFIT= #false
DEBUG_SENSORS= #false
LOGSTASH_URL= #"http\://10.0.2.2:8080/"
READ_LOGS= #true
ENROLLMENT_TOKEN= #"TOKEN"
